[submodule "backend"]
	path = backend
	url = ../backend
[submodule "database"]
	path = database
	url = ../database
[submodule "frontend"]
	path = frontend
	url = ../frontend
[submodule "music-server"]
	path = music-server
	url = ../music-server
[submodule "reverse-proxy"]
	path = reverse-proxy
	url = ../reverse-proxy
